*{
	margin: 1em 4% 3em 4%;
}
body {
	background: url("Bilder/Holz2.png");
}

nav {
	background-image: url("Bilder/Titelbild.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 20em;
}
#Navigation {
	background-color:#800000;
	height: 3.5em;
	margin: auto;
	margin-top: 10em;
}
h1 {
	text-align: center; 
	padding-top: 2em;
	padding-bottom: 0;
	color: #FFFACD;
}
ul {
	text-align: center;
	padding: 0;
	padding-top: 1em;
}
li{
	display: inline;
	list-style-type: none;
	font-size: 1.3em;
	margin: 0;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
.active {
	font-weight: bold;
	text-shadow: 2px 2px #600000;
}

#Navigation a {
	color: #FFFACD;
	text-decoration: none;
	text-align: center;
	background-color:#800000;
}
#Navigation a:hover {
	color: #FFFACD;
	text-decoration: none;
	text-align: center;
	background-color:#800000;
	text-decoration: underline overline solid #FFFACD;
}
#Text {
	background-color: #FFFACD;
	float: left;
	padding: 0em 1em 1em 1em;
	width: 60%;
	margin-top: -10px;
	margin-right: 0;
	border: 1px solid black;
}
#Sidebar {
	width: 28%;
	height: 100%;
	background-color:#FFFACD;
	float: right;
	margin-top: -10px;
	margin-left: 0;
	padding: 0;
	border: 1px solid black;
}
#T-Ganz {
	background-color: #FFFACD;
	padding: 0em 1em 1em 1em;
	margin-top: -10px;
	border: 1px solid black;
}
iframe {
	width: 560px; 
	height: 315px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
